<!-- Home page -->
{{ partial "header" . }}
<!-- <div class="hero" style="width: 100%;">
    <img src="images/tokyo3.jpg" alt="" style="width: 100%;">
    <h1>{{ .Site.Title }}</h1>
    <h3>{{ markdownify .Site.Params.Description }}</h3>
</div> -->
{{ partial "navigation" . }}

<main class="home-page">
    <article>
        <div class="article-wrapper">
            <div class="intro">
                <h1>{{ .Site.Title }}</h1>
                <h5>{{ markdownify .Site.Params.Description }}</h5>
            </div>
            {{ with .Content }} <div class="homepage-content" style="justify-content: center;" >{{ . }}</div> {{ end }}
        </div>
    </article>
</main>

{{ partial "footer" . }}
