html, body {
    height: 100%;
    font-size: 62.5%;
    background-color: #f6f6f4;
}
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header, nav, footer {
    width: 100%;
}
main {
    width:70%;
}
aside {
    width:30%;
}
/*500pxより小さくなったら1カラム表示*/
@media (max-width:500px) {
    header, nav, main, aside, footer {
        width: 100%;
    }
}

img {
    max-width: 100%;
}
h1 {
    font-size: 5vh;
    font-weight: bold;
    border-bottom: 2px solid var(--accent);
}
h2 {
    margin: 8px 0;
    padding-left: 8px;
    border-left: 2px solid var(--accent);
}
/* Header */
header {
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    padding: 0 16px;
    position: sticky;
    top: 0;
    border-top: var(--border-width) solid var(--accent);
    background-color: var(--secondary);
}
.logo > img {
    width: 32px;
    height: 32px;
    border-radius: 2px;
}
.global-menu {
    list-style: none;
}
.global-menu > li {
    display: inline-block;
    margin: 0 8px;
    font-size: 1vh;
    font-weight: bold;
}
/* header nav ul.hamburger { 
    flex-direction: column;
    position: fixed;
    width: 200px;
    top: 80px;
    right: 16px;
    background-color: #757575;
} */

/* header nav ul.hamburger li {
    height: var(--nav-height);
    line-height: var(--nav-height);
    text-align: left;
    width: 100%;
    display: block;
} */

/* Navigation */
nav {
    height: 42px;
    margin: 8px 16px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav > div {
    width: 100%;
    text-align: center;
}
nav > div:not(:last-child) {
    border-right: 1px solid var(--accent);
}

/* Footer */
footer {
    height: 42px;
    background-color: var(--secondary);
    border-bottom: var(--border-width) solid var(--accent);
    text-align: center;
}

/* Home page */
main.home-page {
    width: 100%;
    padding: 12px;
}

.intro {
    position: relative;
    width: 100%;
}

/* Page content */
article {
    margin: 16px;
    padding: 20px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 4%);
}

.content {
    padding-top: 24px;
}

/* Sidebar */
aside {
    padding: 16px;
    display: flex;
    flex-direction: column;
}
.block {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    padding: 24px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 4%);
}

/* links */
a {
    text-decoration: none;
}
a:link, a:visited {
    color: var(--accent);
}

a:hover {
    font-weight: bold;
    /* color: var(--accent) !important; */
}

/* Copyright message */
.copyright {
    margin: 15px 0;
}

/* Paginator */
.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/* List item for posts/projects */
.item {
    padding: 10px 0;
}

.tag {
    text-decoration: none;
    color: white !important;
    background-color: var(--accent);
    padding: 4px;
    border-radius: 2px;
}

/* breadcrumb */
.breadcrumb {
    padding: 0;
}
.breadcrumb li {
    display: inline;
    list-style: none;
}
.breadcrumb li:not(:last-child)::after {
    content: '>';
    padding: 0 0.5em;
}
