
<!-- Reset CSS  -->
<style>
    *,::after,::before{box-sizing:border-box}html{line-sizing:normal}body{margin:0}h1{font-size:2rem}h2{font-size:1.5rem}h3{font-size:1.17rem}h4{font-size:1rem}h5{font-size:.83rem}h6{font-size:.67rem}h1{margin:.67em 0}pre{white-space:pre-wrap}hr{border-style:solid;border-width:1px 0 0;color:inherit;height:0;overflow:visible}audio,canvas,embed,iframe,img,object,svg,video{display:block;vertical-align:middle;max-width:100%}canvas,img,svg,video{height:auto}audio{width:100%}img{border-style:none}svg{overflow:hidden}article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{display:block}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}
</style>

<!-- Common CSS -->
<style>
    * {
        /* font-family: 'Noto Serif JP', serif; */
        font-family: 'Noto Serif JP', serif;
    }

    :root {
        --accent: {{ .Site.Params.accent | default "#2196F3" }};
        --primary: {{ .Site.Params.primary | default "#3e3e3e" }};
        --secondary: {{ .Site.Params.secondary | default "#f6f6f4" }};
        --border-width: {{ if .Site.Params.showBorder | default false }} 2px {{ else }} 0 {{ end }};
    }
</style>

<!-- Include main.css -->
<link rel="stylesheet" href="{{ "css/main.css" | absURL }}">

<!-- Include custom CSS -->
{{ range .Site.Params.css }} <link rel="stylesheet" href="{{ . | absURL }}"> {{ end }}

<!-- google fonts -->
<!-- <link rel="preconnect" rel="stylesheet" href="{{ .Site.Params.fontLink }}"> -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@600;900&display=swap" rel="stylesheet">

<!-- highlight.js -->
{{ if .Site.Params.highlight | default false }} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/{{ .Site.Params.highlightStyle | default "default" }}.min.css"> {{ end }}

<!-- font awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
