{{ if or .Paginator.HasPrev .Paginator.HasNext }}

<nav class="paginator">
    {{ if .Paginator.HasPrev }}
        <a class="icon" href="{{ .Paginator.Prev.URL }}" rel="prev">
            <i class="fa fa-arrow-left"></i>
        </a>
    {{ else }}
        <a class="icon" href="/" disabled="disabled" rel="prev">
            <i class="fa fa-arrow-left"></i>
        </a>
    {{ end }}

    {{ if .Paginator.HasNext }}
        <a class="icon" href="{{ .Paginator.Next.URL }}" rel="next">
            <i class="fa fa-arrow-right"></i>
        </a>
    {{ else }}
        <a class="icon" href="/" disabled="disabled" rel="prev">
            <i class="fa fa-arrow-right"></i>
        </a>
    {{ end }}
</nav>
{{ end }}
