<aside>
    <div class="aside-wrapper">
        <!-- <div class="block profile">
            <h2>プロフィール</h2>
            <h5>Description</h5>
        </div> -->
        <div class="block categories">
            <h2>カテゴリ</h2>
            {{ if lt 0 (len .Site.Taxonomies.categories) }}
            <ul>
                {{ range .Site.Taxonomies.categories.ByCount }}
                <li><a href="{{ $.Site.BaseURL | relURL }}categories/{{ .Name | urlize }}">{{ .Name }}<span>({{ .Count }})</span></a></li>
                {{ end }}
            </ul>
            {{ end }}
        </div>
        <div class="block tags">
            <h2>タグ</h2>
            {{ if lt 0 (len .Site.Taxonomies.tags) }}
            <ul>
                {{ range .Site.Taxonomies.tags.ByCount }}
                <li><a href="{{ $.Site.BaseURL | relURL }}tags/{{ .Name | urlize }}">{{ .Name }}<span>({{ .Count }})</span></a></li>
                {{ end }}
            </ul>
            {{ end }}
        </div>
    </div>
</aside>